    #div1 {
        background-image: url('../img/gquran.jpg');
        margin: 0 auto;
        text-align: center;
        font-size: 2em;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 0;
        margin-bottom: 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #div1 img {
        margin: auto;
    }
    
    h1 {
        line-height: 1.2;
        text-transform: uppercase;
        font-family: "Alegreya", serif;
        text-decoration: none;
        text-shadow: 3px 3px 1px rgb(0, 0, 0);
        color:rgba(255, 255, 255, 0.801);
    }
    
    #div2 #toggle {
        background-color: rgb(206, 201, 201);
        border: 0;
        padding-bottom: 25px;
        padding-top: 25px;
        width: 100vw;
        display: block;
        font-size: 2.5em;
        font-family: 'Alegreya', serif;
        margin:0 auto;
    }
    
    #div2 {
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        border-bottom: #158f2e 10px solid;
        display: block;
        font-family: 'Alegreya', serif;
        margin:0;
    }
    
    #div1,
    #div2 {
        -webkit-animation: bounce-in-top 1.1s both;
        animation: bounce-in-top 1.1s both;
    }
    
    #div3 {
        list-style-position: inside;
        color: rgb(0, 0, 0);
        display: none;
        margin: 0 auto;
        text-align: left;
        font-size: 2.5em;
        background-color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    #div3 #h:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
    
    #h {
        width: 100vw;
        right: -100vw;
        background-color: rgb(255, 255, 255);
    }
    
    html {
        width: 100vw;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility !important;
        -webkit-tap-highlight-color: transparent;
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #toggle {
        cursor: pointer;
    }
    
    a:visited,
    a:active,
    a:link {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
    }
    
    #div1 a:hover {
        color: rgb(255, 255, 255) !important;
        text-decoration: none;
    }
    
    #div3a {
        display: none;
    }
    
    #div3 #ha {
        padding: 0;
        margin: 0;
    }
    
    .content {
        text-align: left;
        line-break: auto;
        background-color: #13c236;
        width: 800px;
        font-family: 'Alegreya', serif;
        color: white;
    }
    
    .content p {
        text-align: left;
        margin: 0;
        font-size: 1.8em;
    }
    .content a{
        font-size: 1.8em;
    }
    
    .content h2 {
        text-align: center;
        font-size: 2.5em;
    }
    #div4{
        margin-left: 2vw;
    }
    #div5{
        margin-left: auto;
        margin-right: 2vw;
    }
    #div6{
        margin-left: 2vw;
    }
    
    #footer {
        margin-top: 30px;
        height: 85px;
        padding-top: 10px;
        padding-bottom: 5px;
        background-color: #158f2e ;
        font-family: 'Alegreya', serif;
        color: white;
        flex-shrink: 0;
        width: 100vw;
        position: absolute;
        bottom: 0;
        padding-left: 4vw;
    }
    #footer img{
        -webkit-filter: invert(100%);
        float: left;
        padding-right: 1vw;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
        border: 0;
        height: 100%;
    }
    #footer a{
        font-size: 1.8em;
    }
    
    #body {
        padding-bottom: 140px;
    }
    
    footer p {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 1.8em;
    }
    
    #content{
        -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
        min-height: 100%;
        position: relative;
        background-image: url('../img/20220330_084755.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 25px;
    }
    
    @keyframes scale-up-center {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        100% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
    
    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes bounce-in-top {
        0% {
            -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }
        38% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 1;
        }
        55% {
            -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        72% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        81% {
            -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        90% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        95% {
            -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }
    
    @keyframes bounce-in-top {
        0% {
            -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
            opacity: 0;
        }
        38% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            opacity: 1;
        }
        55% {
            -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        72% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        81% {
            -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        90% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        95% {
            -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }