table {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/tback.jpeg');
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    caption-side: top;
    width: 600px;
    text-align: center;
    border-spacing: 0;
    border: #e0b070 25px solid;
    border-collapse: collapse;
}

table tr td {
    border-bottom: #e0b070 25px solid;
}

table tr:last-child td {
    border-bottom: #e0b070 0px solid;
}

html {
    width: 100%;
}

table td {
    width: 200px;
    height: 300px;
    padding: 25px;
}

td:hover img {
    border: #79d3e0 10px solid;
}

td:hover {
    padding: 15px;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding-left: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: orange;
    padding-right: 350px;
    border: 0;
}

@media (prefers-color-scheme: dark) {}